In [2]:
import pandas as pd 
import numpy as np

In [3]:
df=pd.read_csv('cleaned_sleep_health_data.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   374 non-null    object
 1   Age                      374 non-null    int64
 2   Occupation               374 non-null    object
 3   Sleep Duration           374 non-null    float64
 4   Quality of Sleep         374 non-null    int64
 5   Physical Activity Level  374 non-null    int64
 6   Stress Level             374 non-null    int64
 7   BMI Category             374 non-null    object
 8   Heart Rate               374 non-null    int64
 9   Daily Steps              374 non-null    int64
 10  Sleep Disorder           155 non-null    object
 11  Systolic_BP              374 non-null    int64
 12  Diastolic_BP             374 non-null    int64
dtypes: float64(1), int64(8), object(4)
memory usage: 38.1+ KB

In [5]:
df.describe()

,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps,Systolic_BP,Diastolic_BP
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920,128.553476,84.649733
std,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679,7.748118,6.161611
min,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000,115.000000,75.000000
25%,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000,125.000000,80.000000
50%,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000,130.000000,85.000000
75%,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000,135.000000,90.000000
max,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000,142.000000,95.000000

In [6]:
df.sample(20)

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,Systolic_BP,Diastolic_BP
318,Female,53,Engineer,8.4,9,30,3,Normal,65,5000,NaN,125,80
322,Female,53,Engineer,8.4,9,30,3,Normal,65,5000,NaN,125,80
267,Female,49,Nurse,6.2,6,90,8,Overweight,75,10000,NaN,140,95
144,Male,38,Lawyer,7.1,8,60,5,Normal,68,8000,Sleep Apnea,130,85
365,Female,59,Nurse,8.0,9,75,3,Overweight,68,7000,Sleep Apnea,140,95
212,Male,43,Engineer,7.8,8,90,5,Normal,70,8000,NaN,130,85
361,Female,59,Nurse,8.2,9,75,3,Overweight,68,7000,Sleep Apnea,140,95
93,Male,35,Lawyer,7.4,7,60,5,Obese,84,3300,Sleep Apnea,135,88
277,Male,49,Doctor,8.1,9,85,3,Obese,86,3700,Sleep Apnea,139,91
227,Male,44,Salesperson,6.3,6,45,7,Overweight,72,6000,Insomnia,130,85
357,Female,58,Nurse,8.0,9,75,3,Overweight,68,7000,Sleep Apnea,140,95
259,Female,45,Teacher,6.6,7,45,4,Overweight,65,6000,Insomnia,135,90
279,Female,50,Engineer,8.3,9,30,3,Normal,65,5000,NaN,125,80
59,Male,32,Doctor,7.7,7,75,6,Normal,70,8000,NaN,120,80
266,Male,48,Doctor,7.3,7,65,5,Obese,83,3500,Insomnia,142,92
165,Male,41,Lawyer,7.6,8,90,5,Normal,70,8000,Insomnia,130,85
45,Male,31,Doctor,7.8,7,75,6,Normal,70,8000,NaN,120,80
163,Male,40,Lawyer,7.9,8,90,5,Normal,68,8000,NaN,130,85
134,Male,38,Lawyer,7.3,8,60,5,Normal,68,8000,NaN,130,85
104,Female,36,Teacher,7.2,8,60,4,Normal,68,7000,Sleep Apnea,115,75

In [7]:
df["Occupation"].value_counts()

Occupation
Nurse                   73
Doctor                  71
Engineer                63
Lawyer                  47
Teacher                 40
Accountant              37
Salesperson             32
Scientist                4
Software Engineer        4
Sales Representative     2
Manager                  1
Name: count, dtype: int64

In [9]:
df["Sleep Disorder"].value_counts()

Sleep Disorder
Sleep Apnea    78
Insomnia       77
Name: count, dtype: int64

In [10]:
df["BMI Category"].value_counts()

BMI Category
Normal           195
Overweight       148
Normal Weight     21
Obese             10
Name: count, dtype: int64